body {background-color:fuchsia;
    font-family: sans-serif;
}
header{color: blue;background-color: chartreuse;
padding: 20px;
}
h1{border: brown 2px solid
}
header a{background-color:white;}
footer{background-color: chartreuse; border-radius: 10px;
padding: 10px;}
nav a{background-color: cornflowerblue;color: darkblue;}
div{
    border: 1px solid white ;
}
